<title>{% block title %}HRM{% endblock %}</title>

{% block metatags %}
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="Websouls">
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/booleanlogicscore/assets/validation/css/validationEngine.jquery.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/booleanlogicscore/assets/datatable/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}


<script>
    BASEURL = "{{ path('core_home') }}";
    console.log(BASEURL);
</script>

{#Body#}
<img id="loader" style="display:none" src="{{ asset('bundles/booleanlogicscore/assets/uiblocker/images/loader.gif') }}" alt="" />
{#{{ include('OgraComplaintBundle:Include:header.html.twig') }}
{{ include('OgraComplaintBundle:Include:sideMenu.html.twig') }}#}

<ul>
    <li><a href="{{ path('organization_new') }}">Create Company</a></li>
    <li><a href="{{ path('branch_new',{'organization':1}) }}">Create Branch</a></li>
    <li><a href="{{ path('department_new',{'organization':1}) }}">Create Department</a></li>
    <li><a href="{{ path('designation_new',{'organization':1}) }}">Create Designation</a></li>
    <li><a href="{{ path('job_new',{'organization':1}) }}">Create Job</a></li>
    <li><a href="{{ path('employee_new',{'organization':1}) }}">Create Employee</a></li>
    <li><a href="{{ path('add_employee_detail_form',{'organization':1,'employee':1}) }}">Employee detail</a></li>
    <li><a href="{{ path('add_employee_eduction',{'organization':1,'employee':1}) }}">Employee Education</a></li>
    <li><a href="{{ path('add_employee_certification',{'organization':1,'employee':1}) }}">Employee Certification</a></li>
    <li><a href="{{ path('add_employee_job_history',{'employee':1}) }}">Employee Job History</a></li>
</ul>

{% block body %}
{% endblock %}

{#{{ include('OgraComplaintBundle:Include:footer.html.twig') }}#}


{% block javascript %}
    <script src="{{ asset('bundles/booleanlogicscore/assets/core/js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/uiblocker/js/jquery.blockUI.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/validation/js/jquery.validationEngine-en.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/validation/js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/datatable/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/core/js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('bundles/booleanlogicscore/assets/core/js/core.js') }}"></script>
{% endblock %}

{#/Body#}