<div id="loadForm">
    <div id="output"></div>

    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'designation-form'}}) }}    
    <div class="col-md-12 {{form.name.vars.valid?'valid':'notification-error'}}">
        <label>Name*:</label>
        {% if form.name %}
            <span class="error-icon">{{ form_errors(form.name) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.name, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>

    <div class="col-md-12 {{form.branch.vars.valid?'valid':'notification-error'}}">
        <label>Branch*:</label>
        {% if form.branch %}
            <span class="error-icon">{{ form_errors(form.branch) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.branch, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>

    {% if form.department is defined %}
        <div id="department-container" style="display:none" class="col-md-12 {{form.department.vars.valid?'valid':'notification-error'}}">
            <label>Department*:</label>
            {% if form.department %}
                <span class="error-icon">{{ form_errors(form.department) }}</span>  
            {% endif %}
            <div>
                {{ form_widget(form.department, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
            </div>
        </div>
    {% endif %}
    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 
</div>
