{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}
    {{ include('BooleanLogicsOrganizationBundle:Designation:new-form-template.html.twig',{'form':form}) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(function () {

            $(document).on('click', '#designation_Create', function (e) {
                e.preventDefault();
                var form = '#designation-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });
            });

            $(document).on('change', '#designation_branch', function (e) {
                e.preventDefault();
                var url = '{{path('designation_new')}}';
                var data = {};
                data['designation[branch]'] = $("#designation_branch").val();
                console.log(url);
                postRequest(url, data, function (html) {
                    $("#department-container").show();
                    $('#designation_department').replaceWith(
                            $(html).find('#designation_department')
                            );
                });

            });
        });
    </script>
{% endblock %}