{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}

    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'orgnization-form'}}) }}    
    <div class="col-md-12 {{form.name.vars.valid?'valid':'notification-error'}}">
        <label>Name*:</label>
        {% if form.name %}
            <span class="error-icon">{{ form_errors(form.name) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.name, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.email.vars.valid?'valid':'notification-error'}}">
        <label>Email*:</label>
        {% if form.email %}
            <span class="error-icon">{{ form_errors(form.email) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.email, { 'attr': {'class': 'validate[required,custom[email]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Tagline:</label>
        <div>
            {{ form_widget(form.tagline, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>URL:</label>
        <div>
            {{ form_widget(form.url, { 'attr': {'class': 'icheck-blue validate[custom[url]]'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Started At:</label>
        <div>
            {{ form_widget(form.startedAt, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Logo:</label>
        <div>
            {{ form_widget(form.logo, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Registeration Number:</label>
        <div>
            {{ form_widget(form.registerationNumber, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>NationalTax Number:</label>
        <div>
            {{ form_widget(form.nationalTaxNumber, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Vision:</label>
        <div>
            {{ form_widget(form.vision, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Mission:</label>
        <div>
            {{ form_widget(form.mission, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#organization_Create', function (e) {
                e.preventDefault();
                var form = '#orgnization-form';
                submitFormWithFile(form, '#organization_logo', OUTPUT, true, function (response) {
                    uiUnBlocker();
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        setTimeout(function () {
                            //window.location = '';
                        }, 3000);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });
            });
        });
    </script>
{% endblock %}