<div id="loadForm">
    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'job-form'}}) }}    
    <div class="col-md-12 {{form.title.vars.valid?'valid':'notification-error'}}">
        <label>Title*:</label>
        {% if form.title %}
            <span class="error-icon">{{ form_errors(form.title) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.title, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.branch.vars.valid?'valid':'notification-error'}}">
        <label>Branch*:</label>
        {% if form.branch %}
            <span class="error-icon">{{ form_errors(form.branch) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.branch, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    {% if form.department is defined %}
        <div id="department-container" style="display:none" class="col-md-12 {{form.department.vars.valid?'valid':'notification-error'}}">
            <label>Department*:</label>
            {% if form.department %}
                <span class="error-icon">{{ form_errors(form.department) }}</span>  
            {% endif %}
            <div>
                {{ form_widget(form.department, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
            </div>
        </div>
    {% endif %}
    <div class="col-md-12 {{form.minSalary.vars.valid?'valid':'notification-error'}}">
        <label>Min Salary*:</label>
        {% if form.minSalary %}
            <span class="error-icon">{{ form_errors(form.minSalary) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.minSalary, { 'attr': {'class': 'validate[required,custom[number]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.maxSalary.vars.valid?'valid':'notification-error'}}">
        <label>Max Salary*:</label>
        {% if form.maxSalary %}
            <span class="error-icon">{{ form_errors(form.maxSalary) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.maxSalary, { 'attr': {'class': 'validate[required,custom[number]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.description.vars.valid?'valid':'notification-error'}}">
        <label>Description*:</label>
        {% if form.description %}
            <span class="error-icon">{{ form_errors(form.description) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.description, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 
</div>
