{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}
    {{ include('BooleanLogicsOrganizationBundle:Job:new-form-template.html.twig',{'form':form}) }}
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#job_Create', function (e) {
                e.preventDefault();
                var form = '#job-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });
            });


            $(document).on('change', '#job_branch', function (e) {
                e.preventDefault();
                var url = '{{path('job_new')}}';
                var data = {};
                data['job[branch]'] = $("#job_branch").val();
                console.log(url);
                postRequest(url, data, function (html) {
                    $("#department-container").show();
                    $('#job_department').replaceWith(
                            $(html).find('#job_department')
                            );
                });

            });

        });
    </script>
{% endblock %}