{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}

    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'department-form'}}) }}    
    <div class="col-md-12 {{form.name.vars.valid?'valid':'notification-error'}}">
        <label>Name*:</label>
        {% if form.name %}
            <span class="error-icon">{{ form_errors(form.name) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.name, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.email.vars.valid?'valid':'notification-error'}}">
        <label>Email*:</label>
        {% if form.email %}
            <span class="error-icon">{{ form_errors(form.email) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.email, { 'attr': {'class': 'validate[required,custom[email]] icheck-blue'} })}}
        </div>
    </div>
    
            <div class="col-md-12 {{form.branch.vars.valid?'valid':'notification-error'}}">
        <label>Branch*:</label>
        {% if form.branch %}
            <span class="error-icon">{{ form_errors(form.branch) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.branch, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>

    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#department_Create', function (e) {
                e.preventDefault();
                var form = '#department-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });

            });
        });
    </script>
{% endblock %}