{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}
    <table id="data_list_table" class="table table-striped table-bordered ajax-sourced">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>E-Mail</th>
                <th>Phone</th>
                <th>Mobile</th>
                <th>Fax</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Address</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

    </table>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $('#data_list_table').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "{{ listUrl }}",
                    "type": "POST"
                },
                "columns": [
                    {"data": "id"},
                    {"data": "name"},
                    {"data": "email"},
                    {"data": "phone"},
                    {"data": "mobile"},
                    {"data": "fax"},
                    {"data": "city"},
                    {"data": "state"},
                    {"data": "zipcode"},
                    {"data": "address"},
                    {"data": "status"}
                ],
                "columnDefs": [
                    {
                        "className": "dt-center",
                        "targets": [11],
                        "searchable": true,
                        "orderable": true,
                        "render": function (data, type, row) {
                            return getActionList(row, ['/branch/']);
                        }
                    },
                ]
            });
        });

    </script>
{% endblock %}