{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}

    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'branch-form'}}) }}    
    <div class="col-md-12 {{form.name.vars.valid?'valid':'notification-error'}}">
        <label>Name*:</label>
        {% if form.name %}
            <span class="error-icon">{{ form_errors(form.name) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.name, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.email.vars.valid?'valid':'notification-error'}}">
        <label>Email*:</label>
        {% if form.email %}
            <span class="error-icon">{{ form_errors(form.email) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.email, { 'attr': {'class': 'validate[required,custom[email]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Phone:</label>
        <div>
            {{ form_widget(form.phone, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Mobile:</label>
        <div>
            {{ form_widget(form.mobile, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Fax:</label>
        <div>
            {{ form_widget(form.fax, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>City:</label>
        <div>
            {{ form_widget(form.city, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>State:</label>
        <div>
            {{ form_widget(form.state, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Zipcode:</label>
        <div>
            {{ form_widget(form.zipcode, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Address:</label>
        <div>
            {{ form_widget(form.address, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Lat:</label>
        <div>
            {{ form_widget(form.latitude, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Long:</label>
        <div>
            {{ form_widget(form.longitude, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#branch_Create', function (e) {
                e.preventDefault();
                var form = '#branch-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });

            });
        });
    </script>
{% endblock %}