{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}


    {{ include('BooleanLogicsOrganizationBundle:Employee:employee-detail-form-template.html.twig',{'form':form}) }}


{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#employee_history_Create', function (e) {
                e.preventDefault();
                var form = '#employee-detail-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });

            });


            $(document).on('change', '#employee_history_branch', function (e) {
                e.preventDefault();
                getNewFormField(
                        "employee_history[branch]",
                        "#employee_history_branch",
                        "#employee_history_department",
                        "#department-container"
                        );
            });

            $(document).on('change', '#employee_history_department', function (e) {
                e.preventDefault();
                getNewFormField(
                        "employee_history[department]",
                        "#employee_history_department",
                        "#employee_history_designation",
                        "#designation-container"
                        );
            });
        });

        function getNewFormField(parentName, parentId, field, container) {
            var url = '{{path('add_employee_detail_form',{'employee':employee.Id})}}';
            var data = {};
            data[parentName] = $(parentId).val();
            console.log(url);
            postRequest(url, data, function (html) {
                $(container).show();
                $(field).replaceWith(
                        $(html).find(field)
                        );
            });
        }
    </script>
{% endblock %}