{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}

    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'employee-job-history-form'}}) }}    
    <div class="col-md-12 {{form.title.vars.valid?'valid':'notification-error'}}">
        <label>Title*:</label>
        {% if form.title %}
            <span class="error-icon">{{ form_errors(form.title) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.title, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.company.vars.valid?'valid':'notification-error'}}">
        <label>Company*:</label>
        {% if form.company %}
            <span class="error-icon">{{ form_errors(form.company) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.company, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.joinDate.vars.valid?'valid':'notification-error'}}">
        <label>Join Date*:</label>
        {% if form.joinDate %}
            <span class="error-icon">{{ form_errors(form.joinDate) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.joinDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.resignDate.vars.valid?'valid':'notification-error'}}">
        <label>Resign Date*:</label>
        {% if form.resignDate %}
            <span class="error-icon">{{ form_errors(form.resignDate) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.resignDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.description.vars.valid?'valid':'notification-error'}}">
        <label>Description*:</label>
        {% if form.description %}
            <span class="error-icon">{{ form_errors(form.description) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.description, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#employee_job_history_Create', function (e) {
                e.preventDefault();
                var form = '#employee-job-history-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });

            });
        });
    </script>
{% endblock %}