{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}

    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'employee-certificate-form'}}) }}    
    <div class="col-md-12 {{form.title.vars.valid?'valid':'notification-error'}}">
        <label>Title*:</label>
        {% if form.title %}
            <span class="error-icon">{{ form_errors(form.title) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.title, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.institute.vars.valid?'valid':'notification-error'}}">
        <label>Institute*:</label>
        {% if form.institute %}
            <span class="error-icon">{{ form_errors(form.institute) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.institute, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.startDate.vars.valid?'valid':'notification-error'}}">
        <label>Start Date*:</label>
        {% if form.startDate %}
            <span class="error-icon">{{ form_errors(form.startDate) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.startDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.endDate.vars.valid?'valid':'notification-error'}}">
        <label>End Date*:</label>
        {% if form.endDate %}
            <span class="error-icon">{{ form_errors(form.endDate) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.endDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.description.vars.valid?'valid':'notification-error'}}">
        <label>Description*:</label>
        {% if form.description %}
            <span class="error-icon">{{ form_errors(form.description) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.description, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#employee_certification_Create', function (e) {
                e.preventDefault();
                var form = '#employee-certificate-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });

            });
        });
    </script>
{% endblock %}