<div id="loadForm">
    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'employee-detail-form'}}) }}    
    <div class="col-md-12 {{form.branch.vars.valid?'valid':'notification-error'}}">
        <label>Branch*:</label>
        {% if form.branch %}
            <span class="error-icon">{{ form_errors(form.branch) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.branch, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>

    {% if form.department is defined %}
        <div id="department-container"  class="col-md-12 {{form.department.vars.valid?'valid':'notification-error'}}">
            <label>Department*:</label>
            {% if form.department %}
                <span class="error-icon">{{ form_errors(form.department) }}</span>  
            {% endif %}
            <div>
                {{ form_widget(form.department, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
            </div>
        </div>
    {% endif %}

    {% if form.designation is defined %}
        <div id="desination-container"  class="col-md-12 {{form.designation.vars.valid?'valid':'notification-error'}}">
            <label>Designation*:</label>
            {% if form.designation %}
                <span class="error-icon">{{ form_errors(form.designation) }}</span>  
            {% endif %}
            <div>
                {{ form_widget(form.designation, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
            </div>
        </div>
    {% endif %}   

    <div class="col-md-12 {{form.salary.vars.valid?'valid':'notification-error'}}">
        <label>Salary*:</label>
        {% if form.salary %}
            <span class="error-icon">{{ form_errors(form.salary) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.salary, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>

    <div class="col-md-12 {{form.startDate.vars.valid?'valid':'notification-error'}}">
        <label>Start Date*:</label>
        {% if form.startDate %}
            <span class="error-icon">{{ form_errors(form.startDate) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.startDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>

    <div class="col-md-12 {{form.endDate.vars.valid?'valid':'notification-error'}}">
        <label>End Date*:</label>
        {% if form.endDate %}
            <span class="error-icon">{{ form_errors(form.endDate) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.endDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>

    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 
</div>
