{% extends "BooleanLogicsCoreBundle::core.html.twig" %}
{% block body %}

    <div id="output"></div>
    {{ form_start(form,{'attr': {'novalidate': 'novalidate','autocomplete':'false','id':'employee-form'}}) }}    
    <div class="col-md-12 {{form.firstName.vars.valid?'valid':'notification-error'}}">
        <label>First Name*:</label>
        {% if form.firstName %}
            <span class="error-icon">{{ form_errors(form.firstName) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.firstName, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.lastName.vars.valid?'valid':'notification-error'}}">
        <label>Last Name*:</label>
        {% if form.lastName %}
            <span class="error-icon">{{ form_errors(form.lastName) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.lastName, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.dob.vars.valid?'valid':'notification-error'}}">
        <label>Date of Birth*:</label>
        {% if form.dob %}
            <span class="error-icon">{{ form_errors(form.dob) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.dob, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.gender.vars.valid?'valid':'notification-error'}}">
        <label>Gender*:</label>
        {% if form.gender %}
            <span class="error-icon">{{ form_errors(form.gender) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.gender, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.age.vars.valid?'valid':'notification-error'}}">
        <label>Age*:</label>
        {% if form.age %}
            <span class="error-icon">{{ form_errors(form.age) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.age, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12 {{form.email.vars.valid?'valid':'notification-error'}}">
        <label>Email*:</label>
        {% if form.email %}
            <span class="error-icon">{{ form_errors(form.email) }}</span>  
        {% endif %}
        <div>
            {{ form_widget(form.email, { 'attr': {'class': 'validate[required,custom[email]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Phone:</label>
        <div>
            {{ form_widget(form.phone, { 'attr': {'class': 'validate[required,custom[phone]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Mobile:</label>
        <div>
            {{ form_widget(form.mobile, { 'attr': {'class': 'validate[required,custom[phone]] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Fax:</label>
        <div>
            {{ form_widget(form.joinDate, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>City:</label>
        <div>
            {{ form_widget(form.city, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>State:</label>
        <div>
            {{ form_widget(form.state, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Zipcode:</label>
        <div>
            {{ form_widget(form.zipcode, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Address:</label>
        <div>
            {{ form_widget(form.address, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <label>Remarks:</label>
        <div>
            {{ form_widget(form.remarks, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>

    <div class="col-md-12">
        <label>Status:</label>
        <div>
            {{ form_widget(form.status, { 'attr': {'class': 'validate[required] icheck-blue'} })}}
        </div>
    </div>
    <div class="col-md-12">
        <div>
            {{ form_widget(form.Create, { 'attr': {'class': 'icheck-blue'} })}}
        </div>
    </div>
    {{ form_end(form) }} 

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(function () {
            $(document).on('click', '#employee_Create', function (e) {
                e.preventDefault();
                var form = '#employee-form';

                submitForm(form, function (response) {
                    if (response.Good) {
                        formReset(form);
                        showMessages(response.Success);
                        return false;
                    }
                    showMessages(response.Errors.fields);
                });

            });
        });
    </script>
{% endblock %}